mixin caja(fa,titulo,contenido,hrefes)
  .caja
    .caja__fa: i(class=fa, role="img")
    .caja__titulo
      h3= titulo
    .caja__contenido
      p= contenido
    .caja__boton
      a(href=`${hrefes}`, class="boton") Leer más
mixin enlace(hrefes,tab,menus)
  a(href=`${hrefes}`, tabindex=`${tab}`)= menus
mixin cajacategoria(titulo,contenido,temas)
  .caja
    .caja__titulo
      h3= titulo
    .caja__contenido
      p= contenido
    .caja__boton
      a(href=`${temas}`, class="boton") Artículos
mixin cajatema(srcs,alts,srcsets,tituloarticulo,contenidostema,articulos)
  .caja
    .caja__imagen
      .caja__image
        img(data-src=`${srcs}`, alt=`${alts}`, srcset=`${srcsets}`, sizes="(max-width:1199px) 82vw, (max-widht:1404px) 41vw, 580px", loading="lazy", class="lazyload")
    .caja__textos
      .caja__titulo
        h3= tituloarticulo
      .caja__fecha
        p Fecha: 
          time(datetime="2020-03-26") 26-3-2020
      .caja__contenido
        p Autor: Jesús Martín Blanco
        p= contenidostema
      .caja__boton
        a(href=`${articulos}`, class="boton") Artículo
mixin migas(menus)
  nav(class="migas", aria-label="Navegación secundaria")
    ul
      li
        a(href="index.html") Inicio
          i(class="fas fa-home", role="img")
      li= menus
mixin migastemas(hrefes,menus,titulo)
  nav(class="migas", aria-label="Navegación secundaria")
    ul
      li
        a(href="index.html") Inicio
          i(class="fas fa-home")
      li
        a(href=`${hrefes}`)= menus
      li= titulo
mixin migasarticulos(hrefes,menus,temas,titulo,tituloarticulo)
  nav(class="migas", aria-label="Navegación secundaria")
    ul
      li
        a(href="index.html") Inicio
          i(class="fas fa-home")
      li
        a(href=`${hrefes}`)= menus
      li
        a(href=`${temas}`)= titulo
      li= tituloarticulo
mixin comentarioFormulario()
  .comentario__formulario
            h3 Deja un Comentario
            form.formulario
              fieldset
                p.nota Todos los campos son obligatorios.
                div.datos
                  label(for="nombre") Nombre: 
                  input(type="text", name="nombre", id="nombre", required)
                  p(class="confirm", id="confirmNombre", role="status")
                div.datos
                  label(for="email") E-mail:  
                  input(type="email", name="email", id="email", required)
                  p(class="confirm", id="confirmEmail", role="status")
                div
                  label(for="comentario", class="comenta") Comenta: 
                  textarea(id="comentario", name="comentario", rows="15", required)
                  p(class="confirm", id="confirmText", role="status")
                div
                  button(type="submit", class="boton", id="submit") Enviar
                  p(class="confirm", id="confirmForm", role="status")